<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SanMarketAPI.Properties.Settings.SanMarketParserConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=SanMarketParser;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>